@font-face{
    font-family: 'Nunito';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/static/Nunito-Regular.ttf');
}
@font-face{
    font-family: 'Nunito';
    font-weight: 500;
    font-style: normal;
    src: url('../fonts/static/Nunito-Medium.ttf');
}
@font-face{
    font-family: 'Nunito';
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/static/Nunito-Bold.ttf');
}
@mixin flexParDJC($jccenter : center, $row : row,){
    display: flex;
    flex-direction: $row;
    justify-content: $jccenter;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
  font-family: 'Nunito', sans-serif;
    font-weight: 400;
}
body{
    max-width: 100%;
}
$primary: #00194E;
$mainFont: #2D2E3A;
$light: #72DEDE;
$contentSize: 90vw;

header{
	background: $light;
    width: 100%;
    @include flexParDJC();
}
.header{
    width: $contentSize;
    font-size: 20px;
    @include flexParDJC(space-between);
    align-items: center;
    a {
        text-decoration: none;
        color: $primary;
        align-items: center;
    }
}
.menu-items {
    display: flex;
    column-gap: 5vw;
    align-items: center;
    list-style: none;
    li{
        text-transform: uppercase;
        font-weight: 400;
        line-height: 120%;
}
}
.header__contacts{
display: flex;
column-gap: 2vw;
}
.first_screen{
    
    margin-top: 50px;
    @include flexParDJC( );
}
.first{
    width: $contentSize;
    display: flex;
    flex-direction: row;
    
}
.label{
    width: 60%;
    @include flexParDJC(space-between, column);
    
    align-items: center;
    font-size: 32px;
    color: $primary;
}
.title{
    background: url(../img/плашка.svg) no-repeat;
    
    font-size: 60px;
    padding: 5vw;
}
.sign{
    width: 40%;
    @include flexParDJC(end, column);

    align-items: center;
    img{
        margin-bottom: -10px;
    }
    button{
        z-index: -1;
        height: 90px;
        width: 300px;
        border-radius: 15px;
        border: none;
        background-color: $primary;
        color: white;
       
        font-size: 40px;
    }
}

.description {
    //background:  url("../img/фон\ паралакс.png") no-repeat;
    position: relative;
color: white;
    .title1 {
        font-weight: 700;
        font-size: 40px;
    }
    .text {
        font-weight: 500;
        font-size: 32px;
    }
    .img{
        background: url("../img/фон\ паралакс.png");
        width: 100%;
        height: 100vh;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
    }
}
